version: '2'
services:
#  livy:
#    image: scality/clueso-livy:test3
#    volumes:
#      - ./logs/livy:/apps/livy/logs
#      - ./conf/livy.conf:/apps/livy/conf/livy.conf
#      - ./conf/livy-env.sh:/apps/livy/conf/livy-env.sh
#      - ./conf/log4j.properties:/apps/livy/conf/log4j.properties
#      - ./spark_builds/spark-2.1.1-bin-spark-2.1.1_2.10:/apps/spark-2.1.1_2.10
#      - ./jars:/apps/spark-modules
#    ports:
#      - "8998:8998"
#      - "4040:4040"
#      - "5005:5005"
#    depends_on:
#      - kafka

  spark-master:
    image: bde2020/spark-master:2.1.1-hadoop2.7
    container_name: spark-master
    depends_on:
      - kafka
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - INIT_DAEMON_STEP=setup_spark

  spark-worker-1:
    image: bde2020/spark-worker:2.1.1-hadoop2.7
    container_name: spark-worker-1
    depends_on:
      - spark-master
      - kafka
    ports:
      - "8081:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
  spark-worker-2:
    image: bde2020/spark-worker:2.1.1-hadoop2.7
    container_name: spark-worker-2
    depends_on:
      - spark-master
      - kafka
    ports:
      - "8082:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"

  kafka:
    image: spotify/kafka
    ports:
      - "9092:9092"
      - "2181:2181"
    environment:
      - "ADVERTISED_HOST=kafka"
      - "ADVERTISED_PORT=9092"